services:
  directory:
    image: ghcr.io/goldeneraglobal/goldenera-directory:latest
    container_name: goldenera_directory
    restart: unless-stopped
    pull_policy: always
    env_file:
      - .env
    environment:
      - LOGGING_FILE=${LOGGING_FILE:-directory.log}
    ports:
      - "${LISTEN_PORT:-8080}:8080"
    volumes:
      - ./directory_data:/app/directory_data
      - ${LOGGING_DIR:-./directory_logs}:/app/directory_logs
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: "2.0"
        reservations:
          memory: 1G
